<div class="navbar-header" style="float:right;">
    <a href=''>
    <button class="navbar-brand" id='submit' style='background-color:#f8f8f8; border:0px;'>
        Top
    </button> 
    </a>
</div>
