<form method='post' action='/new'>

    <input type='text' name='name'>

    <input name='user_id' type='hidden' value='<%= current_user.id %>'>

     <input name="authenticity_token" 
                   type="hidden" 
                   value="<%= form_authenticity_token %>" />
    <input type='submit'>


    
</form>
