<form method='post' action='/new' class='container col-sm-5'>

<div class='col-sm-6'>
    <input type='text' class='form-control' name='name' placeholder='New List'>
</div>
    <input name='user_id' type='hidden' value='<%= current_user.id %>'>

     <input name="authenticity_token" 
                   type="hidden" 
                   value="<%= form_authenticity_token %>" />
    <button class='btn' id='submit'>Submit</button>


    
</form>
