<% if current_user.id == @list.user_id %>



<a href="/list/<%= @list.name.gsub(' ','_') %>/item">New Item</a>


<ol>
    
    <% @list.items.each do |item| %>

        <li>
            
            <%= item.title %>

        </li>

    <% end %>


</ol>


<p>yoyoyo</p>



<% end %>

this is the show yo

<p>
<%= params %>
</p>