<h3>Welcome <%= current_user.email %></h3>
<p>this is the index!!</p>

<form method='post' action='/user/delete'>
    <input type='hidden' name='_method' value="<%= destroy_user_session_path %>" >
    
    <button id='submit'>Log out</button>
</form>


<a href="/new">New List</a>


<ol>
    <% current_user.lists.each do |foo| %>
        <li>
            <a href="/list/<%=foo.name.gsub(' ','_')%>">
                <%= foo.name %>
            </a>
        </li>
    <% end %>
</ol>